<% form_for(@prospective, :html => {:class => "form-horizontal", :id => "modal_register_form"}) do |f| %>
  <div class="modal-footer">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Registrierung für einen Testzugang</h3>
    </div>
    <div class="modal-body" id="startRegisterModalBody">
      <div id="prospAlert" class="alert alert-block alert-error hide">
        <h4 class="alert-heading">Ihre Daten konnten nicht gespeichert werden</h4>
        <p>Bitte füllen Sie alle Felder aus</p>
      </div>
        
    <!-- <form class="form-horizontal" id="modal_register_form"> -->
      <legend>Angaben zu Ihrer Person</legend>
        <div class="control-group">
          <label class="control-label" for="inputName">Anrede</label>
          <div class="controls">
            <%= f.radio_button :cont_gender, "m" %>
            Herr
            <%= f.radio_button :cont_gender, "f" %>
            Frau
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputName">Name</label>
          <div class="controls">
            <%= f.text_field :cont_name, :placeholder => "Name des Ansprechpartners" %>
          </div>  
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">E-Mail</label>
          <div class="controls">
            <%= f.text_field :cont_email, :placeholder => "Email des Ansprechpartners" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputTel">Telefonnr.</label>
          <div class="controls">
            <%= f.text_field :cont_phone, :placeholder => "Eine Tel.Nr. für Rückfragen" %>
          </div>
        </div>

        <legend>Angaben zu Ihrem Unternehmen</legend>
        <div class="control-group">
          <label class="control-label" for="inputNameCompany">Name (Unternehmen)</label>
          <div class="controls">
            <%= f.text_field :comp_name, :placeholder => "Name des Unternehmens" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputNameCompany">PLZ (Unternehmen)</label>
          <div class="controls">
            <%= f.text_field :comp_zip_code, :placeholder => "Ihr PLZ" %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputNameCompany">Ort (Unternehmen)</label>
          <div class="controls">
            <%= f.text_field :comp_city, :placeholder => "Ihre Stadt" %>
          </div>
        </div>

        <legend>Weitere Hinweise, Wünsche und Ergänzungen</legend>
        <div class="control-group">
          <%= f.text_area :further_ideas, :rows => 10, :style => "width: 450px;" -%>
        </div>
        
        <!-- </form> -->
<% end -%>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-large" id="prospectiveSubmit">Daten Absenden</button>
    </div>
  </div>
    


